body {
  background-color: #F5F5F5;
  background-image: url(home.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.heading {
  margin-top: 15%;
  width: 100%;
  height: 400px;
  text-align: center;
}

.name-logo img {
  min-height: 90px;
  min-width: 240px;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-fixed-bar {
  background-color: rgba(242, 249, 248, 0.95);
  background-blend-mode: soft-light;
  padding-top: 1%;
  width: 100%;
  z-index: 1;
}

.nav-fixed-bar img {
  max-width: 30%;
  height: auto;
}

.centerdiv {
  width: 100%;
  height: 10em;
  padding: 5%;
}

.title1 {
  display: run-in;
  padding-bottom: 5%;
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  opacity: 0.8;
}

.showarticles {
  margin: 50px auto;
  padding: 1%;
  display: block;
  width: 180px;
  height: 50px;
  border: 3px solid grey;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  font-family: sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 1000ms, color 1000ms;
}

.showarticles:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #222;
  border: 5px solid b;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 1000ms, color 1000ms, border 1000ms;
}

main {
  margin: 20px 12% 12% 12% ;
}

.articleheader {
  padding: 5%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
  color: #082b63;
}

.aritcleheader:hover {
  text-decoration: none;
}

.articleholder {
  position: relative;
  width: 100%;
  height: 0;
  padding: 50%;
  background: white;
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.authorstyle {
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  color: #470101;
  padding: 5%
}

.service-list {
  list-style-type: none;
  width: auto;
  margin-left: 0px;
  padding-left: 20px;
  padding-bottom: 5%;
  display: inline-block;
  background: white;
}

.service-list img {
  height: 240px;
  width: 320;
  display: block;
  padding: 20px;
  padding-right: 30px;
  float: left;
}

.service-list h1 {
  color: #010e23;
  display: inline-block;
  padding: 5px;
}

.art_description {
  color: #454647;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
}

.service-list2 {
  list-style-type: none;
  padding-left: 5%;
  padding-bottom: 2%;
  background: white;
  background-blend-mode: soft-light;
}

.service-list2:hover {
  box-shadow: -2px 1px 1px 1px;
  text-decoration: none;
}

.subcat {
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.subcat ul {
  background: rgba(222, 222, 222, .2);
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%%;
}

.subcat li {
  background-color: #f7faff;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%%;
  box-shadow: -2px 1px 1px 1px #c4d4ef;
  padding: 5%;
}

.subcat li:hover {
  background-color: #a9ccf2
}

.subcat a {
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
}

.subcat a:hover {
  letter-spacing: 2.8px;
}

div #wrapper {
  margin 0 auto;
}

footer {
  background-color: rgba(242, 249, 248, 0.95);
  background-blend-mode: soft-light;
  margin: 0px 0px 0px 0px;
  height: 10%;
  max-height: 75px;
  width: 100%;
  color: black;
  /*border-top: 2px groove #808080;*/
  bottom: 0;
}

.fb-logo {
  color: black;
  font-weight: bold;
  letter-spacing: 1.5px;

}

.fb-logo:hover {
  color: black;
  font-weight: bold;
  text-shadow: 0 0;
}
.fb-logo img {
  display: inline;
  width: 50px;
  height=auto;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  footer {
    /*
    position: absolute;
    overflow: hidden;
    margin: 0, 0, 0, 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 3%;
    padding-bottom: 1em; */
  }

  .title1 {
    font-style: italic;
    font-family: sans-serif;
    font: arial;
    font-size: 2em;
  }
  .centerdiv{
    margin: 0px;
  }
  .heading{
    margin-top: 10px;
  }
}

@media screenn and (max-width: 900px) {

  .centerdiv {
    margin-top: 20px;
  }
  .nav-fixed-bar {
    position: fixed;
    top: 0;
  }
  .art-cont {
    margin-top: 50%;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content li a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .heading{
    margin-top: 20px;
  }
}

@media screen and (min-width: 900px) {
  footer {
        position: fixed;
        overflow-y: hidden;
  }
.heading{
  margin-top: 0px;
}
.nav-fixed-bar {
  margin-bottom: 0px;
}
.centerdiv{
  margin-top: 250px;
}
  /* Generic rules for drop down */
  /* Dropdown Button */
  .art-temp-1 {
    margin-top: 15%;
  }
  .nav-fixed-bar {
    position: fixed;
    top: 0;
  }
  .art-cont {
    margin-top: 50%;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
